*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 610px;
    height: 500px;
    background-color: #F5F5F5;
}

/* Make loader design */
.lds-ring {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c2bebe;
    opacity: 0.7;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.extension-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.search-container{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #070707;
    margin: 14px 0;
}

.search-container input{
    width: 90%;
    padding: 5px 10px;
    outline: none;
    color: #F5F5F5;
    background-color: #070707;
    border: none;
    font-size: 10pt;
}

.search-container button{
    width: 10%;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #070707;
    border-left: 1px solid whitesmoke;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.container-table{
    overflow-y: scroll;
    padding: 0 20px;
}

.table-show-files{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: #070707;
}

.table-show-files th{
    text-align: center;
    padding: 5px 0;
}

.table-show-files td{
    padding: 5px 0;
}

th:first-child,
td:first-child {
  text-align: left;
}

